<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet CSS" type="text/css" href="static/custom-styles.css">
	<link rel="stylesheet CSS" type="text/css" href="static/styles.css">
	<link rel="shortcut ICON" type="x-icon" href="static/favicon.ico">
	<title>Error | 404</title>
</head>
<body>
	<div class="errors">
	<li class="errortext errorcode">404</li>
	<li class="errortext">Something went wrong!</li>
	<button class="errortext errorbtn" href="index.html">Come Back!</button>
</body>
</html>